# Gradle
.gradle/
build/
!*/build.gradle
!*/build.gradle.kts

# Java
*.class

# IDEs
.idea/
*.iml
*.ipr
*.iws
*.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# JARs
*.jar
*.war
*.ear

# Generated
out/

# Misc
*.swp
*.swo
